<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="footer">
    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="#"><i class="icon ion-social-instagram"></i></a>
                <a href="#"><i class="icon ion-social-snapchat"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
                <a href="#"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li sec:authorize="isAuthenticated()" class="list-inline-item"><a href="/main">Home</a></li>
                <li sec:authorize="!isAuthenticated()" class="list-inline-item" > <a href="/registration">[[#{label.registration}]]</a></li>
                <li sec:authorize="isAuthenticated()" class="list-inline-item"><a href="/settings" onclick="">[[#{label.settings}]]</a></li>
                <li sec:authorize="isAuthenticated()" class="list-inline-item"><a href="javascript:{}" onclick="$('#logout_form').submit();return false;">[[#{label.logout}]]</a></li>
                <li sec:authorize="!isAuthenticated()" class="list-inline-item"><a href="/login">[[#{label.login}]]</a></li>
            </ul>
            <p class="copyright">[[#{label.copyright}]]</p>
        </footer>
    </div>
</th:block>

</html>