<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <title>
        [[#{header.title}]]
    </title>
    <link rel="stylesheet" th:href="@{styles/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{styles/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{styles/css/styles.css}">
    <link rel="stylesheet" th:href="@{styles/css/Footer-Basic.css}">
    <link rel="stylesheet" th:href="@{styles/css/Navigation-Clean.css}">
    <link rel="stylesheet" th:href="@{styles/css/jquery.dataTables.min.css}">
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/datatables.min.js}"></script>
    <script th:src="@{styles/bootstrap/js/bootstrap.min.js}"></script>
</th:block>

<th:block th:fragment="footer">
    <th:block th:insert="fragments/footer :: footer"/>
</th:block>


</html>