<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/general :: header"/>
</head>
<body>
<th:block th:insert="fragments/header :: header" />
<div class="container">
    <div class="hero-unit">
        <h1>Test</h1>
        <p>
            <span th:text="#{hello.message}"></span>
        </p>
        <p>

        </p>
    </div>

    <table>
        <th:block th:each="currency : ${currencyList}">
            <tr>
                <td>[[#{label.currency. + ${currency.currencyType}}]]</td>
                <td th:text="${currency.currencyType}">...</td>
            </tr>
        </th:block>
        <a class="btn btn-primary" href="/main?user_id=1" role="button">Link</a>

    </table>
</div>
<th:block th:insert="fragments/general :: footer"/>
</body>
</html>