<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/general :: header"/>
</head>
<body>
<th:block th:insert="fragments/header :: header" />
<div class="row justify-content-center">
    <div class="col col-md-3">
        <div class="container">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h6>[[#{label.choiseCurrency}]]</h6>
                        </div>
                        <div class="col-5">
                            <select id="currencySelect" class="nice-select custom-select custom-select-sm">
                                <option th:each="currency : ${user.getUserCurrencys()}" th:value="${currency.currencyType}" th:text= "#{label.currency. + ${currency.currencyType}}"></option>
                            </select>
                        </div>
                        <div class="col-1">
                            <button type="button"  id="currencyAdd" class="btn btn-light btn-sm" data-toggle="modal" data-target="#addCurrencyModal">+</button>
                        </div>
                        <div class="col-1">
                            <button type="button" id="currencyDelete" class="btn btn-light btn-sm"  data-toggle="modal" data-target="#deleteCurrencyModal">-</button>
                        </div>
                    </div>
                    <div class="row">
                        <div id="currencyMessageAlert" class="alert alert-primary alert-dismissible collapse" role="alert">
                            <div id="currencyMessage"></div>
                            <button type="button" class="close"  data-hide="alert"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="container">
                    <div class="row">
                        <div class="col"><h3>[[#{label.expenses}]]</h3></div>
                        <div class="col"><button type="button" id="addExpensisButton" class="btn btn-light btn-sm open-AddDialog">+</button></div>
                    </div>
                    <div class="row ml-1">
                        <div class="col"><h6>[[#{label.today}]]</h6></div>
                        <div id="expenses_day" class="col"><h6>~~~~</h6></div>
                    </div>
                    <div class="row ml-1">
                        <div class="col"><h6>[[#{label.week}]]</h6></div>
                        <div id="expenses_week" class="col"><h6>~~~~</h6></div>
                    </div>
                    <div class="row ml-1">
                        <div class="col"><h6>[[#{label.mounth}]]</h6></div>
                        <div id="expenses_month" class="col"><h6>~~~~</h6></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col"><h3>[[#{label.income}]]</h3></div>
                        <div class="col"><button type="button" id="addIncomeButton" class="btn btn-light btn-sm open-AddDialog">+</button></div>
                    </div>
                    <div class="row ml-1">
                        <div class="col"><h6>[[#{label.today}]]</h6></div>
                        <div id="income_day" class="col"><h6>~~~~</h6></div>
                    </div>
                    <div class="row ml-1">
                        <div class="col"><h6>[[#{label.week}]]</h6></div>
                        <div id="income_week" class="col"><h6>~~~~</h6></div>
                    </div>
                    <div class="row ml-1">
                        <div class="col"><h6>[[#{label.mounth}]]</h6></div>
                        <div id="income_month" class="col"><h6>~~~~</h6></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col"><h3>[[#{label.balance}]]</h3></div>
                        <div class="col"><h4 id="balance"></h4></div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-auto">
        <div class="container">
            <div>
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item"><a role="tab" data-toggle="tab" class="nav-link active" href="#tab-1">[[#{label.last}]]</a></li>
                    <li class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#tab-2">[[#{label.expenses}]]</a></li>
                    <li class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#tab-3">[[#{label.income}]]</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab-1">
                        <table id="lastTable" class="display" style="width: 100%">
                            <thead>
                            <tr>
                                <th>[[#{label.date}]]</th>
                                <th>[[#{label.description}]]</th>
                                <th>[[#{label.value}]]</th>
                                <th>[[#{label.currency}]]</th>
                                <th>[[#{label.category}]]</th>
                                <th>[[#{label.type}]]</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-2">
                        <table id="expensesTable" class="display" style="width: 100%">
                            <thead>
                            <tr>
                                <th>[[#{label.date}]]</th>
                                <th>[[#{label.description}]]</th>
                                <th>[[#{label.value}]]</th>
                                <th>[[#{label.currency}]]</th>
                                <th>[[#{label.category}]]</th>
                                <th>[[#{label.type}]]</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-3">
                        <table id="incomeTable" class="display" style="width: 100%">
                            <thead>
                            <tr>
                                <th>[[#{label.date}]]</th>
                                <th>[[#{label.description}]]</th>
                                <th>[[#{label.value}]]</th>
                                <th>[[#{label.currency}]]</th>
                                <th>[[#{label.category}]]</th>
                                <th>[[#{label.type}]]</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DELETE CURRENCY MODAL #####START##### -->
<div class="modal fade" id="deleteCurrencyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCurrencyModalTitle">[[#{currency.delete.title}]]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                [[#{currency.delete.message}]]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">[[#{button.close}]]</button>
                <button type="button" id="currencyDeleteSubmit" class="btn btn-primary">[[#{button.delete}]]</button>
            </div>
        </div>
    </div>
</div>
<!-- ADD CURRENCY MODAL #####START##### -->
<div class="modal fade" id="addCurrencyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCurrencyModalTitle">[[#{currency.add.title}]]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>[[#{currency.add.message}]]</p>
                <select id="currencyAddSelect" class="nice-select custom-select custom-select-sm">
                    <option th:each="currency : ${allCurrencys}" th:value="${currency.currencyType}" th:text= "#{label.currency. + ${currency.currencyType}}"></option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">[[#{button.close}]]</button>
                <button type="button" id="currencyAddSubmit" class="btn btn-primary">[[#{button.add}]]</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal TRANSACTION -->
<div class="modal fade" id="addTransModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="addTransModalTitle" class="modal-title" >Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form method="post" id="expensivAddFrom">
                        <input id="transType"  type="hidden">
                        <input id="transId"  type="hidden">
                        <input id="transCatId"  type="hidden">

                        <div class="form-group">
                             <h6>[[#{label.date}]]</h6>
                             <input id="trans_add_date" type="datetime-local" class="form-control">
                        </div>
                        <div class="form-group">
                            <h6>[[#{label.description}]]</h6>
                            <input id="trans_add_name" type="text" class="form-control" th:placeholder="#{label.description}" />
                        </div>
                        <div class="form-group">
                            <h6>[[#{label.value}]]</h6>
                            <input id="trans_add_value" type="number" step="0.01" class="form-control" th:placeholder="#{label.value}" />
                        </div>
                        <div class="form-group">
                            <h6>[[#{label.currency}]]</h6>
                            <select id="trans_add_currencyType" class="nice-select custom-select custom-select-sm">
                                <option th:each="currency : ${user.getUserCurrencys()}" th:value="${currency.getCurrencyType()}" th:text= "#{label.currency. + ${currency.currencyType}}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <h6 class="ml-3">[[#{label.category}]]</h6>
                                <div id="trans_edit_buttons_open" class="collapse show">
                                    <button type="button" id="button_add_category"  class="btn btn-light btn-sm ml-3">[[#{button.add}]]</button>
                                    <button type="button" id="button_edit_category"  class="btn btn-light btn-sm ml-3">[[#{button.edit}]]</button>
                                </div>
                            </div>
                            <select id="trans_add_idTransactionCategory_EXPENSES" class="nice-select custom-select custom-select-sm mt-1 collapse">
                                <option th:each="category : ${expensesCategorys}" th:value="${category.getId()}" th:text= "${category.getName()}"></option>
                            </select>
                            <select id="trans_add_idTransactionCategory_INCOME" class="nice-select custom-select custom-select-sm mt-1 collapse">
                                <option th:each="category : ${incomesCategorys}" th:value="${category.getId()}" th:text= "${category.getName()}"></option>
                            </select>
                        </div>

                        <div id="trans_category_edit" class="form-group collapse">
                            <input id="trans_category_input_name" type="text" class="form-control" th:placeholder="#{label.category}" />
                            <button type="button"  id="button_edit_category_save" class="btn btn-light btn-sm mt-2">[[#{button.save}]]</button>
                            <button type="button" id="button_edit_category_close"  class="btn btn-light btn-sm ml-1 mt-2">[[#{button.close}]]</button>
                            <button type="button" id="button_edit_category_delete"  class="btn btn-light btn-sm ml-1 mt-2 collapse">[[#{button.delete}]]</button>
                            <div id="trans_category_edit_allert" class="alert alert-primary alert-dismissible collapse" role="alert">
                                <div id="trans_category_edit_message"></div>
                                <button id="button_close_edit_message" type="button" class="close"  ><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">[[#{button.close}]]</button>
                            <button type="submit"  class="btn btn-primary">[[#{button.save}]]</button>
                        </div>
                        <div id="trans_delete_modal" class="modal-footer collapse">
                            <div id="trans_delete_alert" class="alert alert-primary alert-dismissible collapse" role="alert">
                                <div>
                                    [[#{trans.delete.message}]]
                                    <a id="trans_delete_yes" href="#" class="alert-link ml-2">[[#{button.yes}]]</a>
                                    <a id="trans_delete_alert_hide" href="#" class="alert-link ml-2">[[#{button.no}]]</a>
                                </div>
                            </div>
                            <button type="button" id="button_trans_delete" class="btn btn-warning">[[#{button.delete}]]</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>


<script>

    $(function(){
        $("[data-hide]").on("click", function(){
            $(this).closest("." + $(this).attr("data-hide")).hide();
        });
    });

    $("#trans_delete_yes").click(function(){
        $.ajax({
            url: "rest/trnsactions/delete/"+$("#transId").val(),
            type: "get",
            success: function(d) {
                window.location.replace("/main");
            },
            error: function (result) {

            }
        });
    });

    $("#trans_delete_alert_hide").click(function(){
        $('#trans_delete_alert').collapse("hide");
    });

    $("#button_close_edit_message").click(function(){
        $('#trans_category_edit_allert').collapse("hide");
    });

    $("#button_trans_delete").click(function(){
        $('#trans_delete_alert').collapse("show");
    });

    $("#button_add_category").click(function(){
        $('#transCatId').val(null);
       $("#trans_category_edit").collapse("show");
        $("#trans_edit_buttons_open").collapse("hide");
    });

    $("#button_edit_category").click(function(){
        $("#trans_category_input_name").val($('#trans_add_idTransactionCategory_'+$("#transType").val()+' option:selected').text());
        $('#trans_add_idTransactionCategory_'+$("#transType").val()).prop('disabled', 'disabled');
        $('#transCatId').val($('#trans_add_idTransactionCategory_'+$("#transType").val()).val());
        $('#button_edit_category_delete').collapse("show");
        $("#trans_category_edit").collapse("show");
        $("#trans_edit_buttons_open").collapse("hide");
    });

    $("#button_edit_category_close").click(function(){
        $('#trans_add_idTransactionCategory_'+$("#transType").val()).prop('disabled', false);
        $("#trans_category_input_name").val("");
        $('#trans_category_input_name').removeClass('is-invalid');
        $('#button_edit_category_delete').collapse("hide");
        $("#trans_edit_buttons_open").collapse("show");
        $("#trans_category_edit").collapse("hide");
        $('#trans_category_edit_allert').collapse("hide");
    });

    $("#button_edit_category_save").click(function(){
        var formData = {
            'id':   $('#transCatId').val(),
            'name': $('#trans_category_input_name').val(),
            'transactionType' : $('#transType').val()
        };

        $.ajax({
            url: "rest/category/save",
            type: "post",
            data: JSON.stringify(formData),
            contentType: 'application/json',
            dataType: 'json',
            success: function(d) {
                window.location.replace("/main");
            },
            error: function (result) {
                $(result.responseJSON.errors).each(function() {
                    $('#trans_category_input_'+this.field).addClass('is-invalid');
                });
                if (result.message != ""){
                    $('#trans_category_input_'+this.field).addClass('is-invalid');
                    $('#trans_category_edit_allert').collapse("show");
                    $('#trans_category_edit_message').html(result.responseJSON.message);
                }
            }
        });
    });

    $("#button_edit_category_delete").click(function(){
        $.ajax({
            url: "rest/category/delete/"+$("#transCatId").val(),
            type: "get",
            success: function(d) {
                window.location.replace("/main");
            },
            error: function (result) {
                $('#trans_category_edit_allert').collapse("show");
                $('#trans_category_edit_message').html(result.responseJSON.message);
            }
        });
    });

    $('#currencySelect').change(function() {
        upAmounts($('#currencySelect').val());
    });

    function upAmounts(currency){
        $.ajax({
            url: "rest/amount/INCOME/" + currency
        }).then(function(data) {
            $('#income_day').html(data.day);
            $('#income_week').html(data.week);
            $('#income_month').html(data.month);
            $('#balance').html(data.balance);
        });

        $.ajax({
            url: "rest/amount/EXPENSES/" + currency
        }).then(function(data) {
            $('#expenses_day').html(data.day);
            $('#expenses_week').html(data.week);
            $('#expenses_month').html(data.month);
        });
    }

    $(document).ready( function () {
        function openTransModal(id, type, mode) {
            $('#trans_add_name').removeClass('is-invalid');
            $('#trans_add_value').removeClass('is-invalid');
            $('#trans_add_date').removeClass('is-invalid');
            $('#currencySelectAdd').removeClass('is-invalid');
            $('#categorys').removeClass('is-invalid');

            $("#transId").val(id);
            $("#trans_add_name").val("");
            $("#trans_add_value").val("");
            $("#trans_add_date").val(new Date().toJSON().slice(0,16));

            $("#button_edit_category_close").click();

            if (type =="EXPENSES"){
                $("#addTransModalTitle").html("[[#{label.expenses}]]");
                $("#trans_add_idTransactionCategory_INCOME").collapse("hide");
                $('#trans_add_idTransactionCategory_EXPENSES').collapse("show");
                $("#transType").val("EXPENSES");
            }
            if(type == "INCOME"){
                $("#addTransModalTitle").html("[[#{label.income}]]");
                $("#trans_add_idTransactionCategory_INCOME").collapse("show");
                $('#trans_add_idTransactionCategory_EXPENSES').collapse("hide");
                $("#transType").val("INCOME");
            }

            $('#trans_delete_alert').collapse("hide");
            if (mode == "EDIT"){
                $('#trans_delete_modal').collapse("show");
            }
            if (mode == "ADD"){
                $('#trans_delete_modal').collapse("hide");
            }

            $("#addTransModal").modal("show");
        }
        
        function editTrans(row) {
            console.log(row);
            openTransModal(row.id, row.transactionCategory.transactionType, "EDIT");

            $("#trans_add_name").val(row.name);
            $("#trans_add_value").val(row.value);
            $('#trans_add_currencyType').val(row.currencyType);
            $("#trans_add_date").val(row.date.replace(" ","T"));
            $('#trans_add_idTransactionCategory_'+row.transactionCategory.transactionType+' option[value='+row.transactionCategory.id+']').attr('selected','selected');
        }


        var table = $('#lastTable').DataTable({
            language: {
                url: "/dt_i18n/[[${#locale}]].lang"
            },
            "sAjaxSource": "rest/trnsactions",
            "sAjaxDataProp": "",
            "order": [ [ 0, "desc" ] ],
            "aoColumns": [
                { "data": "date"},
                { "data": "name" },
                { "data": "value" },
                { "data": "currencyType"},
                { "data": "transactionCategory.name"},
                { "data": "transactionCategory.transactionType"}
            ]
        });

        $('#lastTable tbody').on('click', 'tr', function () {
            editTrans(table.row(this).data());
        });

        var tableIncome = $('#incomeTable').DataTable({
            language: {
                url: "/dt_i18n/[[${#locale}]].lang"
            },
            "sAjaxSource": "rest/trnsactions/income",
            "sAjaxDataProp": "",
            "order": [ [ 0, "desc" ] ],
            "aoColumns": [
                { "data": "date"},
                { "data": "name" },
                { "data": "value" },
                { "data": "currencyType"},
                { "data": "transactionCategory.name"},
                { "data": "transactionCategory.transactionType"}
            ]
        });

        $('#incomeTable tbody').on('click', 'tr', function () {
            editTrans(tableIncome.row(this).data());
        });

        var tableExpenses = $('#expensesTable').DataTable({
            language: {
                url: "/dt_i18n/[[${#locale}]].lang"
            },
            "sAjaxSource": "rest/trnsactions/expenses",
            "sAjaxDataProp": "",
            "order": [ [ 0, "desc" ] ],
            "aoColumns": [
                { "data": "date"},
                { "data": "name" },
                { "data": "value" },
                { "data": "currencyType"},
                { "data": "transactionCategory.name"},
                { "data": "transactionCategory.transactionType"}
            ]
        });

        $('#expensesTable tbody').on('click', 'tr', function () {
            editTrans(tableExpenses.row(this).data());
        });

        upAmounts($('#currencySelect').val());

        $("#currencyDelete").click(function(){
            var cur = $('#currencySelect option:selected').html();
            $("#deleteCurrencyModalTitle").html('[[#{currency.delete.title}]] ('+ cur +')');
        });

        $("#currencyDeleteSubmit").click(function(){
            $.ajax({
                url: 'rest/currency/delete/' + $('#currencySelect').val(),
                type: 'GET',
                success: function(result) {
                    window.location.replace("/main");
                },
                error: function (result) {
                    $('#deleteCurrencyModal').modal('toggle');
                    $("#currencyMessageAlert").show();
                    $("#currencyMessage").html(result.responseJSON.message);
                }
            });
        });

        $("#currencyAddSubmit").click(function(){
            $.ajax({
                url: 'rest/currency/add/' + $('#currencyAddSelect').val(),
                type: 'GET',
                success: function(result) {
                    window.location.replace("/main");
                },
                error: function (result) {
                    $('#addCurrencyModal').modal('toggle');
                    $("#currencyMessageAlert").show();
                    $("#currencyMessage").html(result.responseJSON.message);
                }
            });
        });


        $("#addExpensisButton").click(function(){
            openTransModal(null, "EXPENSES", "ADD");
            $('#trans_add_currencyType').val($("#currencySelect").val());
        });
        $("#addIncomeButton").click(function(){
            openTransModal(null, "INCOME", "ADD");
            $('#trans_add_currencyType').val($("#currencySelect").val());
        });

    });

    $(function(){
        $("#expensivAddFrom").on("submit", function(event) {
            event.preventDefault();

            var formData = {
                    'id': $("#transId").val(),
                    'name': $('#trans_add_name').val(),
                    'date' : $('#trans_add_date').val(),
                    'value' : $('#trans_add_value').val(),
                    'currencyType' : $('#trans_add_currencyType').val(),
                    'idTransactionCategory' : $('#trans_add_idTransactionCategory_'+$("#transType").val()).val()
                };

            $.ajax({
                url: "rest/transactions",
                type: "post",
                data: JSON.stringify(formData),
                contentType: 'application/json',
                dataType: 'json',
                success: function(d) {
                    window.location.replace("/main");
                },
                error: function (result) {
                    $(result.responseJSON.errors).each(function() {
                        if(this.field == 'idTransactionCategory'){
                            $('#trans_add_'+this.field+'_'+$("#transType").val()).addClass('is-invalid');
                        } else{
                            $('#trans_add_'+this.field).addClass('is-invalid');
                        }
                    });
                }
            });
        });
    })


</script>

<th:block th:insert="fragments/general :: footer"/>
</body>
</html>